<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.springreg.mapper.BoardMapper">
  
  	<select id="viewList" resultType="com.springreg.domain.BoardVO">
  		SELECT * FROM simpleboard
  	</select>
  	
  	<insert id="enroll">
		
  		INSERT INTO simpleboard VALUES (#{nickname}, #{title}, #{content})
  		
  	</insert>
 	
  </mapper>