<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.vam.mapper.AuthorMapper">
  
  
      <!-- 작가등록 -->
      <insert id="authorEnroll">
      	Insert into vam_author(authorName, nationId, authorIntro) Values (#{authorName}, #{nationId}, #{authorIntro})
      </insert>
      
      <select id="authorGetList" resultType="com.vam.model.AuthorVO">
      
      <![CDATA[ 
      		select * From (
      			select /*+INDEX_DESC(vam_author SYS_C0029986) */
      				rownum as rn, authorid, authorname, nationid, regdate, updatedate
      			from vam_author
      			where
      			
      			
      ]]>
      			<if test="keyword != null">
      				authorname like '%' || #{keyword} || '%' and
      			</if>
      
      <![CDATA[ 
      			rownum <= #{pageNum} * #{amount}
      			)
      		where rn > (#{pageNum} -1) * #{amount}
      ]]>
      
      </select>
      
      <!-- 작가 수 -->
      <select id="authorGetTotal" resultType="int">
      	Select count(*) From vam_author
      	
      	<if test="keyword != null">
      		where authorname like '%' || #{keyword} || '%'
      	</if>
      </select>
      
      
      <!-- 작가 디테일 페이지 -->
      <select id="authorGetDetail" resultType="com.vam.model.AuthorVO">
      	Select * From vam_author where authorid = #{authorId}
      </select>
      
      <!-- 작가 정보 수정 -->
      <update id="authorModify">
      	Update vam_author set 
      		authorName = #{authorName}
      		, nationId = #{nationId}
      		, authorIntro = #{authorIntro}
      		, updatedate = sysdate 
      	where authorId = #{authorId}
      </update>
  </mapper>