<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.boardpjt.mapper.BoardMapper">
  
  	<select id="boardList" resultType="com.boardpjt.model.BoardVO">
		select * from simpleboard_3
  	</select>
  	
  	<insert id="boardReg">
  		insert into simpleboard_3(
  			bno,
  			title,
  			content,
  			writer
  		) values(
  			(SELECT NVL(MAX(bno),0)+1 FROM simpleboard_3),
  			#{title},
  			#{content},
  			#{writer}
  		)
  	</insert>
  	
  	<select id="detailList" resultType="com.boardpjt.model.BoardVO">
  		select * from simpleboard_3 where bno = #{bno}
  	</select>
  	
  	<update id="boardUpdate">
  		update simpleboard_3 set title = #{title},  content = #{content}, updatedate = sysdate where bno = #{bno}
  	</update>
  	
  	<delete id="boardDel">
	  	delete from simpleboard_3 where bno = #{bno}
  	</delete>
  	
  </mapper>